<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-lg">
                    <div class="container-fluid h-custom loginform card-form">
                        <h1><strong>TMS APP</strong> <br></h1>
                        <div class="row d-flex justify-content-center align-items-center rowhight">
                            <div class="col-md-9 col-lg-6 col-xl-5  ">
                                <div class="img-size">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                        class="img-fluid" alt="Sample image">
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 form-size ">
                                <form class="m-2" [formGroup]="loginform" (ngSubmit)="loginSubmit(loginform.value)" >
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3">Email address</label>
                                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                                            placeholder="yahoo@yahoo.com"  formControlName="username" />
                                            <div class="form-text text-danger"*ngIf="username.errors?.['required'] && username.touched">Username Name is Required</div>
                                    </div>
                                    <!-- Password input -->
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="form3Example4">Password</label>
                                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                                        formControlName="password"/>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-0">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                id="form2Example3" />
                                            <label class="form-check-label" for="form2Example3">
                                                Remember me
                                            </label>
                                        </div>
                                        <a href="#!" class="text-body forget-text">Forgot password?</a>
                                    </div>

                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit" class="btn  btn-lg text-white" 
                                            style="padding-left: 2.5rem; padding-right: 2.5rem; width: 100%; background-color: #6c5ce7;">Sign
                                            in</button>
                                        <p class="small fw-bold mt-2 pt-1 mb-0">New on out plateform? <a routerLink="/signup"
                                                class="link-danger forget-text">Create an account</a></p>
                                    </div>
                                    <div class="divider d-flex align-items-center my-4">
                                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <!-- <p class="lead fw-normal mb-0 me-3">Sign in with</p> -->
                                        <button type="button" class="btn btn-primary btn-floating mx-1">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>

                                        <button type="button" class="btn btn-info btn-floating mx-1">
                                            <i class="fab fa-twitter"></i>
                                        </button>

                                        <button type="button" class="btn btn-primary btn-floating mx-1 linked_btn">
                                            <i class="fab fa-linkedin-in"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-floating mx-1 ">
                                            <i class="fab fa fa-git-square"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>