<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-envelope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  nav-space" id="navbarTogglerDemo02">
        <ul class="navbar-nav  mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa-brands fa-rocketchat"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-square-check"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"><i class="fa-solid fa-box"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"><i class="fa-solid fa-star-half-stroke text-warning"></i></a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa-solid fa-moon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"><i class="fa-solid fa-box"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">
                    <i class="fa-solid fa-cart-plus"></i>
                    <span class="badge rounded-pill badge-notification bg-danger text-white">5</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"><a href="">
                        <i class="fa-solid fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger text-white">5</span>
                    </a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Admin </a>
            </li>
            <li class="nav-item">
                <span
                    class="position-absolute buttom-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                    <!-- <span class="visually-hidden">New alerts</span> -->
                </span>
                <img class="rounded-4 shadow-4" src="https://mdbootstrap.com/img/Photos/Avatars/man2.jpg" alt="Avatar"
                    style="width: 30px; height: 30px;">
            </li>
        </ul>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
     <span style="font-family: system-ui;
     font-size: 18px;
     font-weight: 600;">Time Sheets</span> | |
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">TimeSheet</a></li>
    </ol>
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item " aria-current="page"><a class="btn btn-primary" href="#" role="button">Link</a></li>
    </ol> -->
</nav>
<div class="main-div">
    <a href=""><i class="fa-solid fa-user"></i><span class="pl-1">Time Sheet</span></a>
    <a href=""> <i class="fa-solid fa-lock"></i><span class="pl-1">Companies</span></a>
    <a href=""><i class="fa-solid fa-circle-info"></i><span class="pl-1">Tasks</span></a>
    <a href=""> <i class="fa-solid fa-circle-info"></i><span class="pl-1">Services</span></a>
    <a href="" class="active"><i class="fa-solid fa-circle-info "></i> <span class="pl-1">Reports</span></a>
    <a href=""><i class="fa-solid fa-circle-info"></i><span class="pl-1">Connestions</span></a>
</div>
<div class="main-section">
    <div class=" time-details">
        <a href=""> <i class="fa-solid fa-user"></i><span class="pl-1">Time</span></a>
        <a href="" class="active"> <i class="fa-solid fa-lock"></i><span class="pl-1" >Detailed Time</span></a>
        <!-- <div class="report">
        <ul>
            <li><strong>Detailed Time report:All Time</strong> </li>
        </ul>
        <ul>
            <li><a class="btn btn-outline-secondary btn-sm" href="#" role="button">Change Filture</a></li>
        </ul>
    </div> -->
    </div>
    <div class=" time" style="margin-top: 10px;display: flex;justify-content: space-between;">


        <ul style="list-style:none">
            <li style="font-family: ui-sans-serif;
            font-size: larger;
            font-weight: bold;">Detailed Time report:All Time </li>
        </ul>
        <ul style="list-style:none">
            <li style="margin-top:-10px"><a class="btn btn-outline-secondary btn-sm" href="#" role="button">Change
                    Filture</a></li>
        </ul>

    </div>
    <div class="from-data" style="margin-top: -23px;background-color: antiquewhite;padding: 2px;margin: 32px;">
        <form class="m-4">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Timeframe</label>
                    <select id="inputState" class="form-control">
                        <option selected>Time Week</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <!-- <label for="inputEmail4">Timeframe</label>
          <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option> -->
                    <!-- </select> -->
                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Include archived items in filture
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputAddress">Client</label>
                    <select id="inputState" class="form-control">
                        <option selected>All Clients</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputAddress2">Project</label>
                    <select id="inputState" class="form-control">
                        <option selected>Projects</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputAddress">Task</label>
                    <select id="inputState" class="form-control">
                        <option selected>All Tasks</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputAddress2">Team</label>
                    <select id="inputState" class="form-control">
                        <option selected>Everyone</option>
                        <option>...</option>
                    </select>  
                </div>
                <div class="form-group col-md-2">
                    <label for="inputAddress2 " class="mt-4 pl-2"><a href=""> <u>Search role</u></a></label>
                </div>
            </div>
            <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn update-btn btn-sm">Update Reports</button> &nbsp;
                <button type="button" class="btn btn-outline-secondary btn-sm">Cancel</button>
            </div>
        </form>
    </div>
    <div class="main">
        <ul>
            <li> <select id="inputState" class="form-control">
                    <option selected>All Hours</option>
                    <option>...</option>
                </select></li>
            <li> <select id="inputState" class="form-control">
                    <option selected>Client</option>
                    <option>...</option>
                </select></li>
        </ul>
        <ul>
            <li>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Active Project only
                    </label>
                </div>
            </li>
        </ul>
        <ul>
            <li> <select id="inputState" class="form-control">
                    <option selected>Action </option>
                    <option>...</option>
                </select></li>
            <li> <select id="inputState" class="form-control">
                    <option selected>Export</option>
                    <option>...</option>
                </select></li>
                <li><a class="btn btn-outline-secondary" href="#" role="button"><i class="fa-solid fa-print"></i></a></li>
        </ul>
    </div>
</div>